.lista
{
text-align: center;
}
.video
 { 
 	
width: 100%;

margin: 0 auto;

text-align: center;
padding-top: 55px;
 	
  }

#coment{ 
 	margin-left:  }
.lista ul
{
   
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: auto;
}

.lista li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
}
.header
{
	text-align: center;
 background-color: #cad3d9;
}
#body{
	padding-left: 50px;
	padding-right: 50px; 
	background-color: grey;

}
#section{
	padding-left: 100px;
	padding-right:100px; 
	
}
#nav{
	background-color: #31373b;
	padding: 20px;
	margin-left: 25px;
	margin-right: 25px; 
	
}
#texto
{
	display: inline-block;
vertical-align: top;}
#imagen{
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

	}
	#imagenues{
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

	}
	
